In [20]:
##API's Homework

In [21]:
# Initial imports

import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation

%matplotlib inline

In [22]:
 # Load .env enviroment variables (output should read true)
load_dotenv()

True

In [23]:
## Part 1 - Personal Finance Planner

In [24]:
##  Collect Crypto Prices Using the requests Library

In [25]:
 # Set current amount of crypto assets

my_btc = 1.2
my_eth = 5.3

In [26]:
# Crypto API URLs (from initial starter code)
btc_url = "https://api.alternative.me/v1/ticker/Bitcoin/"
eth_url = "https://api.alternative.me/v1/ticker/Ethereum/"

In [27]:
btc_url = btc_url + "?format-json"
eth_url = eth_url + "?format-json"

In [28]:
# Fetch current BTC price
requests.get(btc_url).json()[0]['price_usd']

'56310.0000000000000000'

In [29]:
# Fetch current ETH price
requests.get(eth_url).json()[0]['price_usd']

'4509.0000000000000000'

In [30]:
# store responses in variables
btc_live_data = requests.get(btc_url)
eth_live_data = requests.get(eth_url)

In [31]:
# Compute current value of my crpto

In [32]:
my_btc_value = my_btc * btc_live_data

TypeError: unsupported operand type(s) for *: 'float' and 'Response'

In [33]:
my_eth_value = my_eth * eth_live_data

TypeError: unsupported operand type(s) for *: 'float' and 'Response'

In [34]:
# Print current crypto wallet balance
print(f"The current value of your {my_btc} BTC is ${my_btc_value:0.2f}")
print(f"The current value of your {my_eth} ETH is ${my_eth_value:0.2f}")

# (output should read: The current value of your 1.2 BTC is $14309.16)
# (The current value of your 5.3 ETH is $2096.47)

NameError: name 'my_btc_value' is not defined

In [36]:
# Damnit... breaks computer

In [ ]:
## Collect Investments Data Using Alpaca: SPY (stocks) and AGG (bonds)

In [37]:
# Import libraries and dependencies
import os
import pandas as pd
import alpaca_trade_api as tradeapi

In [38]:
from dotenv import load_dotenv
load_dotenv()

%matplotlib inline

In [39]:
# Current amount of shares
# YOUR CODE HERE!
my_agg = 200
my_spy = 50

In [41]:
 # Set Alpaca API key and secret
# YOUR CODE HERE!
# Setup Alpaca API environment
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [42]:
# Create the Alpaca API object
# YOUR CODE HERE!
api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2"
)

In [43]:
# Format current date as ISO format
# YOUR CODE HERE!
start_date = pd.Timestamp("2010-12-03", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-12-02", tz="America/New_York").isoformat()

In [44]:
# Set the tickers (from  starter code)
tickers = ["AGG", "SPY"]

In [45]:
# Set timeframe to '1D' for Alpaca API (from  starter code)
timeframe = "1D"

In [46]:
# Get current closing prices for SPY and AGG
# YOUR CODE HERE!
df_ticker = api.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date,
    limit=1000,
).df

In [47]:
# Preview DataFrame
# YOUR CODE HERE!
df_ticker

                              AGG                                        \
                             open      high      low    close    volume
time
2017-12-13 00:00:00-05:00  109.23  109.5500  109.135  109.410   2638160
2017-12-14 00:00:00-05:00  109.31  109.5100  109.230  109.450   3698172
2017-12-15 00:00:00-05:00  109.42  109.5500  109.315  109.470   2034072
2017-12-18 00:00:00-05:00  109.47  109.4700  109.250  109.310   3090761
2017-12-19 00:00:00-05:00  109.14  109.1600  108.890  109.000   2583809
...                           ...       ...      ...      ...       ...
2021-11-26 00:00:00-05:00  114.28  114.5769  114.200  114.540   2886169
2021-11-29 00:00:00-05:00  114.15  114.6000  114.130  114.550   7604952
2021-11-30 00:00:00-05:00  114.87  115.1074  114.500  114.765  10624796
2021-12-01 00:00:00-05:00  114.27  114.6400  114.210  114.610  11306707
2021-12-02 00:00:00-05:00  114.67  114.7900  114.470  114.470   3956339

                              SPY
                             open    high     low   close     volume
time
2017-12-13 00:00:00-05:00  267.06  267.56  266.65  266.73   48961663
2017-12-14 00:00:00-05:00  267.12  267.22  265.60  265.67   57343318
2017-12-15 00:00:00-05:00  265.45  267.04  265.39  266.53   59269913
2017-12-18 00:00:00-05:00  268.08  268.60  267.98  268.18   45691370
2017-12-19 00:00:00-05:00  268.48  268.53  267.09  267.22   46990895
...                           ...     ...     ...     ...        ...
2021-11-26 00:00:00-05:00  462.38  463.90  457.77  459.03   93783057
2021-11-29 00:00:00-05:00  464.07  466.56  461.73  464.63   68239627
2021-11-30 00:00:00-05:00  462.00  464.03  455.30  455.78  126435765
2021-12-01 00:00:00-05:00  461.64  464.67  450.29  450.53  112177764
2021-12-02 00:00:00-05:00  450.72  456.85  450.31  456.07   46785998

[1000 rows x 10 columns]

In [48]:
# Pick AGG and SPY close prices
# YOUR CODE HERE!
df_closing_prices = pd.DataFrame()

In [49]:
for ticker in tickers:
    df_closing_prices[ticker] = df_ticker[ticker]["close"]

In [50]:
df_closing_prices.head()

                              AGG     SPY
time
2017-12-13 00:00:00-05:00  109.41  266.73
2017-12-14 00:00:00-05:00  109.45  265.67
2017-12-15 00:00:00-05:00  109.47  266.53
2017-12-18 00:00:00-05:00  109.31  268.18
2017-12-19 00:00:00-05:00  109.00  267.22

In [52]:
df_closing_prices.index = df_closing_prices.index.date

In [53]:
df_closing_prices.head()

               AGG     SPY
2017-12-13  109.41  266.73
2017-12-14  109.45  265.67
2017-12-15  109.47  266.53
2017-12-18  109.31  268.18
2017-12-19  109.00  267.22

In [ ]:
agg_close_price = 
spy_close_price =

In [51]:
# Print AGG and SPY close prices (from  starter code)

print(f"Current AGG closing price: ${agg_close_price}")
print(f"Current SPY closing price: ${spy_close_price}")


## Output should read:
# Current AGG closing price: $119.445
# Current SPY closing price: $334.55

NameError: name 'agg_close_price' is not defined

In [ ]:
# Compute the current value of shares
# YOUR CODE HERE!

In [ ]:
# Print current value of share
print(f"The current value of your {my_spy} SPY shares is ${my_spy_value:0.2f}")
print(f"The current value of your {my_agg} AGG shares is ${my_agg_value:0.2f}")

#Output should be The current value of your 50 SPY shares is $16727.50
                #The current value of your 200 AGG shares is $23889.00

In [ ]:
## Savings Health Analysis

In [ ]:
# Set monthly household income
# YOUR CODE HERE!

In [ ]:
# Create savings DataFrame
# YOUR CODE HERE!

In [ ]:
# Display savings DataFrame (from  starter code)
display(df_savings)

In [ ]:
# Plot savings pie chart
# YOUR CODE HERE!

In [ ]:
## out code from starter
 <matplotlib.axes._subplots.AxesSubplot at 0x7f9fdc2a1710>

In [ ]:
# Set ideal emergency fund (from  starter code)
emergency_fund = monthly_income * 3

In [ ]:
# Calculate total amount of savings
# YOUR CODE HERE!

In [ ]:
# Validate saving health
# YOUR CODE HERE!

In [ ]:
# output should read " Congratulations! You have enough money in your emergency fund."

In [ ]:
##Part 2 - Retirement Planning

In [ ]:
#Monte Carlo Simulation

In [ ]:
# Set start and end dates of five years back from today. (from starter)
# Sample results may vary from the solution based on the time frame chosen
start_date = pd.Timestamp('2015-08-07', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2020-08-07', tz='America/New_York').isoformat()

In [ ]:
# Get 5 years' worth of historical data for SPY and AGG  (might need to make a forloop for 5 years of data)
# YOUR CODE HERE!

In [ ]:
# Display sample data (from starter)
df_stock_data.head()

In [ ]:
 # Configuring a Monte Carlo simulation to forecast 30 years cumulative returns
# YOUR CODE HERE!

In [ ]:
# Printing the simulation input data
# YOUR CODE HERE!

In [ ]:
 # Running a Monte Carlo simulation to forecast 30 years cumulative returns
# YOUR CODE HERE!

In [ ]:
 # Plot simulation outcomes
# YOUR CODE HERE!

In [ ]:
# Plot probability distribution and confidence intervals
# YOUR CODE HERE!

In [ ]:
## Retirement Analysis

In [ ]:
# Fetch summary statistics from the Monte Carlo simulation results
# YOUR CODE HERE!

In [ ]:
# Print summary statistics
# YOUR CODE HERE!

In [ ]:
## Calculate the expected portfolio return at the 95% lower and upper confidence intervals based on a $20,000 initial investment.

In [ ]:
# Set initial investment
initial_investment = 20000

In [ ]:
# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $20,000
# YOUR CODE HERE!

In [ ]:
# Print results (from starter)
print(f"There is a 95% chance that an initial investment of ${initial_investment} in the portfolio"
      f" over the next 30 years will end within in the range of"
      f" ${ci_lower} and ${ci_upper}")

In [ ]:
#output should be like: There is a 95% chance that an initial investment of $20000 in the portfolio over the next 30 years will end within in the range of $45939.5 and $536211.17

In [ ]:
## Calculate the expected portfolio return at the 95% lower and upper confidence intervals based on a 50% increase in the initial investment.

In [ ]:
# Set initial investment
initial_investment = 20000 * 1.5

In [ ]:
# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $30,000
# YOUR CODE HERE!

In [ ]:
# Print results
print(f"There is a 95% chance that an initial investment of ${initial_investment} in the portfolio"
      f" over the next 30 years will end within in the range of"
      f" ${ci_lower} and ${ci_upper}")

In [ ]:
### Optional Challenge below see starter for starter...